<a class="item {{ product.attributes|length > 0 ? 'active' : '' }}" data-tab="attributes">{{ 'sylius.ui.attributes'|trans }}</a>
<a class="item {{ product.attributes|length > 0 ? '' : 'active' }}" data-tab="details">{{ 'sylius.ui.details'|trans }}</a>
<a class="item" data-tab="reviews">{{ 'sylius.ui.reviews'|trans }} ({{ product.acceptedReviews|length }})</a>
